*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    align-items:center;
    padding:20px; 
}
nav{
    flex:auto;
    text-align:right;
}
nav ul{
    display: block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:20px;
    padding-left: 20px;
    text-decoration:none;
}
nav ul li a{
    text-decoration:none;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.col2{
    flex-basis:50%;
    min-width:300px;
}
.col2 img{
    max-width:100%;
    padding: 50px 0px 0px 150px;
    overflow:hidden;
    height:400px;
}
.col2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0px;
}
.col2 a button{
    display:inline-block;
    margin:30px 0px;
    width: 150px;
    height:50px;
    border-radius:25px;
    background-color:#FEB130;
    border-style:none;
}
.col2 a button:hover{
    background-color:#9958B7;
    cursor:pointer;
}
.col2 a button:active{
    background-color:#9653B8;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.5);
}
.header{
    background: radial-gradient(#FFE9BC,#DA8FD4);
}
.category .row{
    margin:70px 0px;
    margin-left:110px;
}
.col3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
    transition:transform 0.5s ease;
}
.col3 h4{
    font-size:15px;
}
.col3 img{
    width:300px;
    height:300px;
}
.rating svg{
    color:#ff523b;
}
.col3:hover{
    transform:translateY(-10px);
}
section p{
    min-height:180px;
}
.footer{
    background: #000;
    color:#f8f8f8;
    font-size:14px;
    height:30vh;
}

.footer .row{
    display:inline-flex;
}
.footer .col-f1,.col-f2,.col-f3{
    flex-basis:30%;
}
.footer li{
    list-style-type:none;
    line-height:1cm;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%; 
        overflow:hidden;
        transition:max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display:block;
        cursor:pointer;       
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align:center;
    }
    .col2,.col3,.col-f1,.col-f2,.col-f3{
        flex-basis:100%;
    }
}